<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>NAME</td>
            <td>LONGITUDE</td>
            <td>LATITUDE</td>
            <td>PHOTO</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td><a href="/gnomes/{{ row['gnome_id'] }}">{{ row['gnome_id'] }}</a></td>
               <td>{{ row['name'] }}</td>
               <td>{{ row['longitude'] }}</td>
               <td>{{ row['latitude'] }}</td>
               <td><img src="data:image/jpg;base64,{{ row['photo'].decode('utf-8') }}" /></td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Powrót do strony głównej</a>
   </body>
</html>
