<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Visit Count</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user['user_id'] }}</td>
                <td>{{ user['login'] }}</td>
                <td>{{ user['visit_count'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
